@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-display: var(--font-manrope);
  --font-meta: var(--font-inter);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-content-wrapper: var(--sidebar-content-wrapper);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.666);
  --radius-md: calc(var(--radius) * 0.833);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

body {
  font-family: var(--font-manrope), sans-serif;
}

:root {
  --background: #F9F9FC;
  --foreground: #171717;
  --card: #FFFFFF;
  --card-foreground: #171717;
  --popover: #FFFFFF;
  --popover-foreground: #171717;
  --primary: #3072FF;
  --primary-foreground: #FFFFFF;
  --secondary: #E8F4F7;
  --secondary-foreground: #171717;
  --muted: #E8F4F7;
  --muted-foreground: #6F6F78;
  --accent: #E8F4F7;
  --accent-foreground: #171717;
  --destructive: #FF2727;
  --destructive-foreground: #FFFFFF;
  --border: rgba(14, 14, 14, 0.10);
  --input: rgba(14, 14, 14, 0.10);
  --ring: #3072FF;
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.75rem;
  --sidebar: #E8F4F7;
  --sidebar-foreground: #171717;
  --sidebar-content-wrapper: #f9f9fc;
  --sidebar-primary: #3072FF;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #E8F4F7;
  --sidebar-accent-foreground: #171717;
  --sidebar-border: rgba(14, 14, 14, 0.10);
  --sidebar-ring: #3072FF;
}

.dark {
  --background: #171717;
  --foreground: #F9F9FC;
  --card: #171717;
  --card-foreground: #F9F9FC;
  --popover: #1F1F1F;
  --popover-foreground: #F9F9FC;
  --primary: #3072FF;
  --primary-foreground: #FFFFFF;
  --secondary: #0e0e0e;
  --secondary-foreground: #F9F9FC;
  --muted: #1F1F1F;
  --muted-foreground: #A3A3A3;
  --accent: #1F1F1F;
  --accent-foreground: #F9F9FC;
  --destructive: #FF2727;
  --destructive-foreground: #FFFFFF;
  --border: rgba(255, 255, 255, 0.10);
  --input: rgba(255, 255, 255, 0.10);
  --ring: #6898FF;
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: #0E0E0E;
    --sidebar-content-wrapper: #171717;
  --sidebar-foreground: #F9F9FC;
  --sidebar-primary: #3072FF;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #171717;
  --sidebar-accent-foreground: #F9F9FC;
  --sidebar-border: rgba(255, 255, 255, 0.10);
  --sidebar-ring: #6898FF;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}